{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Admin Dashboard</h1> 
                        <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-body active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                    <div class="personal-info-container">
                        <h4 class="animated fadeIn mb-4 d-inline">Personal Info</h4>
                        <a class="btn btn-primary btn-sm py-1 px-2 ms-2" href="{% url 'user:edit_personalinfo' %}"><i class="fa fa-pencil-alt me-2"></i>Edit</a>
                        <a class="btn btn-primary btn-sm py-1 px-2 ms-2" href="{% url 'user:change_password' %}">Change Password</a>

                    </div>
                    <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="#">Name : {{request.user.name}}</a></li>
                        </ol>
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="#">Email : {{request.user.email}}</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="{% static 'img/header.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <!-- Header End -->
            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}

         <!-- Admin Dashboard Content Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <!-- Admin Dashboard Table Section -->
                <div class="row g-4">
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="mb-3">User Details</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>

                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {% if users %}
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td><div class="dropdown">
                                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="menu-icon fa fa-glass"></i>Actions</a>
                                                <div class="dropdown-menu rounded-0 m-0">
                                                    {% if user.is_active %}
                                                        <a class="dropdown-item" href="{% url 'user:admin_blockuser' %}?u_id={{user.id}}"><i class="menu-icon fa fa-danger"></i>Block</a>
                                                    {% else %}
                                                        <a class="dropdown-item" href="{% url 'user:admin_blockuser' %}?u_id={{user.id}}"><i class="menu-icon fa fa-danger"></i>Un Block</a>
                                                    {% endif %}
                                                    <a class="dropdown-item" href="{% url 'user:admin_deleteuser' %}?u_id={{user.id}}"><i class="menu-icon fa fa-danger"></i>Delete</a>
                                                </div>
                                            </div></td>
                                            <!-- Add more columns as needed -->
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center">No data available.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Admin Dashboard Table Section -->
            </div>
        </div>
        <!-- Admin Dashboard Content End -->

         <!-- Admin Dashboard Content Start -->
         <div class="container-xxl py-5">
            <div class="container">
                <!-- Admin Dashboard Table Section -->
                <div class="row g-4">
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="mb-3">Property Details</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Slug</th>
                                    <th>Property Type</th>
                                    <th>Listing Date</th>
                                    <th>Action</th>

                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {% if properties %}
                                    {% for property in properties %}
                                        <tr>
                                            <td>{{ property.id }}</td>
                                            <td>{{ property.slug }}</td>
                                            <td>{{ property.property_type }}</td>
                                            <td>{{ property.listing_date }}</td>
                                            <td><div class="dropdown">
                                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="menu-icon fa fa-glass"></i>Actions</a>
                                                <div class="dropdown-menu rounded-0 m-0">
                                                    {% if property.is_published %}
                                                        <a class="dropdown-item" href="{% url 'user:admin_deactivate_property' %}?p_id={{property.id}}"><i class="menu-icon fa fa-danger"></i>Deactivate</a>
                                                    {% else %}
                                                        <a class="dropdown-item" href="{% url 'user:admin_deactivate_property' %}?p_id={{property.id}}"><i class="menu-icon fa fa-danger"></i>Activate</a>
                                                    {% endif %}
                                                    <a class="dropdown-item" href="{% url 'user:admin_delete_property' %}?p_id={{property.id}}"><i class="menu-icon fa fa-danger"></i>Delete</a>
                                                </div>
                                            </div></td>
                                            <!-- Add more columns as needed -->
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center">No data available.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Admin Dashboard Table Section -->
            </div>
        </div>
        <!-- Admin Dashboard Content End -->


        

        {% endblock %}