{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-5 animated fadeIn mb-4">Edit Property</h1>
                <div class="messages-container">
                    {% if messages %}
                      <div class="messages">
                        {% for message in messages %}
                          <div class="alert alert-warning">{{ message }}</div>
                        {% endfor %}
                      </div>
                    {% endif %}
                </div>

                <div class="wow fadeInUp " data-wow-delay="0.5s">
                    {% comment %} <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p> {% endcomment %}
                    <form action="{% url 'user:edit_property' %}?p_id={{listing.id}}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="title" name="title"  value="{{ listing.title }}">
                                    <label for="title">Title</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="address" name="address"  value="{{ listing.address }}">
                                    <label for="adrress">Address</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="city" id="city"  value="{{ listing.city }}">
                                    <label for="city">City</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="state" id="state"  value="{{ listing.state }}">
                                    <label for="state">State</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="zipcode" id="zipcode"  value="{{ listing.zipcode }}">
                                    <label for="zipcode">Zip Code</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="description" id="description"  value="{{ listing.description }}">
                                    <label for="description">Description</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="price" id="price"  value="{{ listing.price }}">
                                    <label for="price">Price</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="bedrooms" id="bedrooms"  value="{{ listing.bedrooms }}">
                                    <label for="bedrooms">Bedrooms</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" step="0.1" class="form-control" name="bathrooms" id="bathrooms"  value="{{ listing.bathrooms }}">
                                    <label for="bathrooms">Bathrooms</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number"  class="form-control" name="property_area" id="property_area"  value="{{ listing.property_area }}">
                                    <label for="property_area">Property Area</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" name="sale_type" id="sale_type" >
                                        <option value="for_sale">For Sale</option>
                                        <option value="for_rent">For Rent</option>
                                    </select>
                                    <label for="sale_type">Sale Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" name="property_type" id="property_type">
                                        <option value="Home">Home</option>
                                        <option value="Villa">Villa</option>
                                        <option value="Apartment">Apartment</option>
                                        <option value="Office">Office</option>
                                        <option value="Building">Building</option>
                                        <option value="Shop">Shop</option>

                                    </select>
                                    <label for="property_type">Property Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="photo_main" id="photo_main" value="{{ listing.photo_main }}">
                                    <label for="photo_main">Main Photo</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="photo_1" id="photo_1" value="{{ listing.photo_1 }}">
                                    <label for="photo_1">Photo 1</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="photo_2" id="photo_2" value="{{ listing.photo_2 }}">
                                    <label for="photo_2">Photo 2</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="file" class="form-control" name="photo_3" id="photo_3" value="{{ listing.photo_3 }}">
                                    <label for="photo_3">Photo 3</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="is_published" id="is_published" value="{{ listing.is_publishe }}">
                                    <label class="form-check-label" for="is_published">Is Published</label>
                                </div>
                            </div>
                            
                            <div class="col-12 ">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}